<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>calculator</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/calcuDesign.css">
</head>
<body>

   <main class="main">
    <h1>Calculator</h1>
    <div id="result-box">
        <input type="text" id="display" readonly>
    </div>
    <div class="calcuBase">
        <button class="button" data-value="C">C</button>
        <button class="button" data-value="Del">&larr;</button>
        <button class="button" data-value="/">/</button>
        <button class="button" data-value="*">*</button>
        <button class="button" data-value="7">7</button>
        <button class="button" data-value="8">8</button>
        <button class="button" data-value="9">9</button>
        <button class="button" data-value="-">-</button>
        <button class="button" data-value="4">4</button>
        <button class="button" data-value="5">5</button>
        <button class="button" data-value="6">6</button>
        <button class="button" data-value="+">+</button>
        <button class="button" data-value="1">1</button>
        <button class="button" data-value="2">2</button>
        <button class="button" data-value="3">3</button>
        <button class="button" data-value="Enter">=</button>
        <button class="button" data-value="0">0</button>
        <button class="button" data-value=".">.</button>
    </div>
   </main>
   <script src="js/calcuMath.js"></script>
</body>
</html>