<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To-Do List</title>
  <link rel="stylesheet" href="css/todoStyle.css">
</head>
<body>
    <div class="container">
        <div class="content">
          <h1 class="title">To-Do List</h1>
          <div class="card">
            <div class="input-group">
              <input id="new-task" type="text" class="input-text" placeholder="Add a new task" />
            </div>
            <div class="input-group">
              <input id="new-description" type="text" class="input-text" placeholder="Add a description" />
              <button id="add-task" class="btn-add">Add</button>
            </div>
            <ul idk-lis="tast" class="task-list"></ul>
          </div>
        </div>
      </div>
      
      <script src="js/toDoScript.js">
      </script>
</body>
</html>
